body{
	 background-color: #004466;
	 margin: 0;
	 padding:0;
}
.backg{
	position: absolute;
	width:350px;
	height:510px; 
	margin: auto;
	left:0;
	right: 0;
	top:0;
	bottom: 0;
}
a{
	color:#ff9933;
	position:absolute;
	bottom:0;
	left:20px;
	font-size:30px;
}
.ghost{
	background-color: white;
	width: 140px;
	height: 210px;
	position: relative;
	top:150px;
	left:100px;
	border-radius:80px 80px 0px 140px; 
	animation:float 3.5s infinite; 
	-webkit-animation:float 3.5s infinite; 
}
@keyframes float{
	50%{
		transform: translateY(50px);
	}
}
@-webkit-keyframes float{
	50%{
		-webkit-transform: translateY(50px);
	}
}
.hat{
	background-color: #0b081b;
	width:170px;
	height:40px;
	border-radius: 50%;
	position: relative;
	left:15px;
	bottom:0px;
	transform: rotate(26deg); 
	-webkit-transform: rotate(26deg); 
}
.hat1{
	width: 0; 
	height: 0; 
	border-left:50px solid transparent;
	border-right:50px solid transparent;
	border-bottom:100px solid  #0b081b;
	position: relative;
	bottom: 92px;
	left:40px;
	transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
}
.s1{
	height: 0px;
	width: 70px;
	border-bottom: 20px solid #ff9933;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: relative;
	top:70px;
	right: 45.5px;
	transform:rotate(-2deg); 
	-webkit-transform:rotate(-2deg); 
}
.eye-l,.eye-r{
	height:23px;
	width: 23px;
	background-color: black;
	border-radius:50%;
	position: relative;
}
.eye-l{
	top:20px;
	left:15px; 
}
.eye-r{
	bottom:2px; 
	left:70px;
}
.dot1{
	background-color: white;
	height: 10px;
	width:10px;
	border-radius:50%;
	position: relative;
	top:3.5px;
	left:3.5px; 
}
.dot2{
	background-color: white;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	position: relative;
	top:5px;
	left:13px;

}
.blsh-l,.blsh-r{
	   background-color: #ff99cc; 
	   height: 18px;
	   width: 23px;
	   border-radius: 50%;
	   opacity: 0.4;
	   
}
.blsh-l{
	transform: rotate(20deg);    
	-webkit-transform: rotate(20deg);    
	   position: relative;
	   left:5px;
	   bottom: 2px;
}
.blsh-r{
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);    
	   position: relative;
	   left:80px;
	   bottom: 19px;
}
.mouth{
	background-color: black;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: relative;
	bottom: 30px;
	left:40px;

}
.hand-l{
	background-color: white;
	height:23px;
	width: 40px;
	border-radius: 15px;
	position: relative; 
	bottom: 20px;
	right: 15px;
	transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
}

.pumpkin{
	position: relative;
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	bottom: 35px;
	right: 35px;
}
.handle{
	background-color:transparent;
	height: 37px;
	width: 20px;
	position: relative;
	border-radius:20px 20px 0px 0px;
	border:4px solid #e69900;
	top:18px;
	right: 5px;  
}
.p1,.p4{
	background-color: #ff9933;
	height: 40px;
	width: 25px;
	position: relative;
	border-radius: 20px;
}
.p2,.p3{
	background-color: #ff9933;
	height: 57px;
	width: 25px;
	position: relative;
	border-radius: 20px;
}
.p1{
	right:30px;
	top:7px; 
}
.p2{
	right: 13px;
	bottom: 40px;
}
.p3{
	bottom: 97px;
	left:5px;
}
.p4{
	bottom: 145px;
	left:22px;
}
.e-l,.e-r{
	opacity:0.6;
	height: 0;
	width: 0;
	border-bottom:15px solid black; 
	border-left:10px solid transparent; 
	border-right:10px solid transparent; 
	position: relative;
	
}
.e-l{
	bottom: 183px;
	right: 17px;
}
.e-r{
	bottom:198px;
	left:16px; 
}
.nose{
	opacity:0.6;
	height: 0;
	width: 0;
	border-bottom:8px solid black; 
	border-left:5px solid transparent; 
	border-right:5px solid transparent; 
	position: relative;
	bottom: 200px;
	left:3.2px;
}
.m{
	background-color: black;
	opacity: 0.6;
	height: 15px;
	width: 30px;
	border-radius: 0px 0px 15px 15px;
	position: relative;
	bottom: 196px;
	right:5.5px; 
}
.t1,.t2{
	
	height: 0;
	width: 0;
	border-top:6px solid #ff9933;
	border-left:3px solid transparent; 
	border-right:3px solid transparent; 
	position: relative;
}
.t1{
	left:2px;
	bottom:0.5px; 
}
.t2{
	bottom: 6.5px;
	left:20px;
}
.t3,.t4{
	background-color: #ff9933;
	
	height:6px;
	width:5px;
	position: relative; 
	
}
.t3{
	bottom:4px;
	left:4.5px;
	transform: rotate(10deg); 
	-webkit-transform: rotate(10deg); 
}
.t4{
	bottom: 9.5px;
	left:20px;
	transform: rotate(-10deg); 
	-webkit-transform: rotate(-10deg); 
}